// Variables
@import './variables';

@mixin name (){
    color: white;
}

$primerBtn: red;
$x: 600px;
.clase{

    @include name();

    background-color: $green;
    &:hover{
        color: $blue;
    }
    width: $x;
    height: $x;
}