@import './variables';

$custom-file-text: (
    en: "Browse",
    es: "Elegir"
);

form {
    .form-div {
        display: flex;
        margin: 20px;

        label {
            width: 15%;
        }

        .input {
            width: 85%;
        }

    }

    .submit-button{
        padding: 5px;
        width: 100%;
        background: #FCE83C;
        font-weight: 500;
        color: black;
        border: 0.5px black solid;
    }
}

@media(max-width: 780px){
    form {
        .form-div {
            display: inherit;

            label {
                width: 100%;
            }
    
            .input {
                width: 100%;
            }
        }
    }
}